@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=Bebas+Neue&family=Dancing+Script:wght@500;600;700&display=swap');
/* html
{
  font-family: 'Aref Ruqaa', serif;
  /* font-family: 'Bebas Neue', sans-serif; */
  /* font-family: 'Dancing Script', cursive;  margin: 0; }*/

body {
  padding: 0;
  background-image: url(./img/Works.jpeg);
}
.nav
{
display: flex;
justify-content: space-around;
margin-top: 5em;
}
.nav li
{
  list-style-type: none;
  color: #0c0c0c;
  font-family: 'Aref Ruqaa', serif;
  font-size: 30;

}
.nav li:hover
{
  list-style-type: none;
}

input::-webkit-input-placeholder {
    color: #ddd;
    text-align: center;
}
label
{
  text-align: center;
}

.line
{
 text-decoration: none
 
}

.home
{
  text-align: center;

}
.homeDiv
{
 

 margin-top: 270 ;
  background: rgba(247, 244, 235, 0.584);
  border: 1px solid #0c0c0c;
}
.box
{
  max-width: 600px;
  margin: 50px auto;
  background: rgba(247, 244, 235, 0.584);
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #060101;

}
.boxVisible
{
  display: flex;
  justify-content: center;
  border: 1px solid #060000;
  margin: 1em;
  padding: 1em;
  
}
.boxCenter
{
  display: grid;
grid-template-columns: auto;}

button {
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
}
.todoForm
{
  
    position: relative;
    display: grid;
    grid-template-columns: auto ;
    gap: 0.9em;
    margin-bottom: 0.9em;
}
.todoForm input
{
  
    height: 3em;
    background-color:  rgba(1, 10, 1, 0.753);
    color: #f8f3f3;
    
}
.todoForm button
{
  
    height: 3em;
    background-color:  rgba(15, 18, 16, 0.791);
    color: #f8f3f3;
    
}